<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zhengru.financetrain.mapper.SysUserMapper">

    <resultMap id="BaseResultMap" type="top.zhengru.financetrain.entity.SysUser">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <id property="username" column="username" jdbcType="VARCHAR"/>
            <result property="realName" column="real_name" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="isEnabled" column="is_enabled" jdbcType="TINYINT"/>
            <result property="isAccountNonLocked" column="is_account_non_locked" jdbcType="TINYINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <resultMap id="RoleInfoVoMap" type="top.zhengru.financetrain.vo.RoleInfoVO">
        <id property="roleName" column="roleName"/>
        <result property="roleCode" column="roleCode"/>
        <result property="rolePid" column="rolePid"/>
        <collection property="permInfoVOList" ofType="top.zhengru.financetrain.vo.PermInfoVO">
            <id property="permission" column="permission"/>
            <result property="permName" column="permName"/>
            <result property="permValue" column="permValue"/>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,real_name,
        password,is_enabled,is_account_non_locked,
        is_deleted
    </sql>
    <update id="resetPwd">
        update sys_user
        set password = #{pwd}
        where id = #{id}
    </update>
    <update id="modifyPwd">
        update sys_user
        set password = #{newPwd}
        where username = #{username};
    </update>
    <select id="queryPermByUserId" resultMap="RoleInfoVoMap">
        SELECT
            r.role_name AS roleName,
            r.code AS roleCode,
            r.pid AS rolePid,
            p.permission,
            p.name AS permName,
            p.value AS permValue
        FROM
            sys_user_role ur
                LEFT JOIN sys_role r ON r.id = ur.role_id
                LEFT JOIN sys_role_perm rp ON r.id = rp.role_id
                LEFT JOIN sys_permission p ON p.id = rp.permission_id
        WHERE
            ur.user_id = #{userId}
          AND ur.is_deleted = 0
          AND r.is_deleted = 0
          AND rp.is_deleted = 0
          AND p.is_deleted = 0
          AND r.status = 1
          AND p.status = 1;

    </select>
    <select id="getUserInfo" resultType="top.zhengru.financetrain.vo.UserInfoVO">
        select u.real_name as realName, u.username as username
        from sys_user u
        where u.username = #{username}
    </select>
    <select id="getRole" resultType="java.lang.String">
        select
            r.description as roleName
        from
            sys_user u, sys_role r, sys_user_role ur
        where
            u.id = ur.user_id and ur.role_id = r.id and u.username = #{username}
    </select>
    <select id="getUserInfoById" resultType="top.zhengru.financetrain.entity.SysUser">
        select *
        from sys_user
        where id = #{id}
    </select>
    <select id="getUserPwdByUsername" resultType="java.lang.String">
        select password
        from sys_user
        where username = #{username}
    </select>
</mapper>
